name: GitHub Pages

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    # 增加 cancel-in-progress: true，如果有新任务，自动取消旧任务，避免卡死
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
      
    steps:
      - uses: actions/checkout@v4  # 升级到 v4

      - name: Setup Node
        uses: actions/setup-node@v4 # 升级到 v4
        with:
          node-version: '20.11'
          cache: 'yarn' # setup-node 内置了缓存功能，比 actions/cache 更简单稳定

      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: yarn export

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        # 只有在 main 分支 push 时才执行部署
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./out